@import 'bgr.css';


MAIN {
  /*
    Объявление `MAIN ` сеткой.
    Сетка  станет шаблоном, состоящим из строк, столбиков и треков. */
  display: grid;

  /*
    Расстояние для горизонтальных и вертикальных ТРЕКов между ячейками сетки, они же ГАПЫ */
  gap: 17px;

  /*
    Высота `MAIN`.
    Без этого параметра  `FOOTER` не будет прижат к низу страницы. 
    !!! Это свойство, обычно определяется в `body` элементе с аргументом `100%`, но в случае с 
    `grid` это не работает правильно.
    Возникает проблема совместимости браузеров и заголовка `!DOCTYPE`.
    */
  height: 100vh;

  /*
    !!!! ВАжная строка для определения шаблона – должна быть всегда.
    В ней определен самый важный параметр  – `1fr`.
    На странице этот `1fr` будет отображен белым пространством до футера.
    YSTM-333.
    Количество и размер строк / количество и размер столбиков */
  grid-template: auto auto 1fr / auto auto auto;

  /*
      Переопределяем размеры для СТОЛБИКОВ вместо трех параметров `auto` заданных чуть выше.*/
  grid-template-columns: .1fr 1fr .3fr;

  /* ОПРЕДЕЛЯЕМ СХЕМУ шаблона.
    В СХЕМЕ одной литерой, -  обозначено место,
    которое займет элемент, который будет далее связан с этой литерой . */
  grid-template-areas:
    /* занимает  три столбика (места),  в каждой из четырех строк
  
      Пример записи схемы шаблона-grid на одной строке:
  
      "h h h"   "n S a"   ". . ."   "f f f" ;
      */
    "h  h  h"
    "n  S  a"
    /* далее идет пустая строка шаблона. Её параметры заданы в YSTM-3333  и это `1fr` . Попробуте поставить только вместо средней точки литеру `S` и просмотрите изменения в браузере. */
    "cont cont cont"
    ".   .   ."

    /* !!! …эта строка никак не связана с элементами, но прописана здесь обязательно для вертикальной растяжки страницы .  
    */
    "f  f  f";
}

.общие-свойства {
  background-color: #51137d33;
  /* border: 16px dashed #ffffff99; */
  padding: 14px;
}

HEADER {
  height: 77px;
  /* Определение литеры для текущего элемента */
  grid-area: h;
}

NAV {
  /* Определение литеры для текущего элемента */
  grid-area: n;
}

ASIDE {
  /* Определение литеры для текущего элемента */
  grid-area: a;
}

MAIN {
  /* Определение литеры для текущего элемента */
  grid-area: S;
}

ARTICLE {
  grid-area: cont;
  padding: 0px 3vw;
  color: darkslategrey;
}

ARTICLE i {
  color: brown;
}

FOOTER {
  /* Определение литеры для текущего элемента */
  grid-area: f;
  /* Размер футора НЕ был ЗАДАН в YSTM-3333 и имеет значениее `auto`. Это нужно для того, чтобы можно было задавать размер футера  здесь… Футор толкается вниз пустой строкой шаблона ( ". . .") ,  с размером `1fr`. */
  /*   min-height: 33px; */
}

@media (max-width: 525px) {
  MAIN {

    /* Новое определение шаблона GRID для мини экранчиков */
    grid-template: "h""n""M""a""cont"".""f"/ 1fr;
    align-content: auto;
  }

  header {
    margin-bottom: 0px;
  }
}

/*
  PS:
  Сетка GRID не универсальна,
  всегда требуется дополнительная настройка зависимых от  статических размеров и трансформаций элементов свойств `padding` и `margin`.
  
  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
  И если какой то из свойств сетки `grid` не задан, значит он имеет значение по умолчанию `auto`.
  
  */

code {
  color: #00000088;
}